<!DOCTYPE html>
<html lang="en">
<title>Proctoring</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
body{
  background-color: #D3D3D3;
}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}

</style>

<body>

<header class="w3-container w3-black w3-center" style="padding:20px 16px">
  <h1 class="w3-margin w3-jumbo">IT351 Examination</h1>

</header> 

<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 style="color: red; text-align: center;">Attempt every question.</h1>
    <h1 style="text-align: center;">Click on 'Finish Exam' once done.</h1><br><br>
    <div class="w3-twothird" style="overflow: auto">
    <form method="GET" action="#">


      1)The capital of India is:<br><input type="text" name="t1" id="t1"><br><br>

      2)The star of the Solar System is:<br><input type="text" name="t2" id="t2"><br><br>

      3)1+1=<br><input type="radio" name="r1_option1" id="r1_option1">2<br><br>
      <input type="radio" name="r1_option2" id="r1_option2">1<br><br>
      <input type="radio" name="r1_option3" id="r1_option3">11<br><br>
      <input type="radio" name="r1_option4" id="r1_option4">0110<br><br>

      4)Continents of the world include:<br><input type="checkbox" name="c1_option1" id="c1_option1">Asia<br><br>
      <input type="checkbox" name="c1_option2" id="c1_option2">India<br><br>
      <input type="checkbox" name="c1_option3" id="c1_option3">Australia<br><br>
      <input type="checkbox" name="c1_option4" id="c1_option4">China<br><br>

      5)Choose for the following:<br>
      A)Current Prime Minister of India:<br>
      <select id="dd1" name="dd_1"><br>
      <option value="dd1_option1">John Cena</option><br>
      <option value="dd1_option2">Narendra Modi</option><br>
      <option value="dd1_option3">Powerstar</option><br>
      <option value="dd1_option4">Ram Nath Kovind</option><br>
      </select><br><br>

      B)who is the best faculty for Software Engineering?<br>
      <select id="dd2" name="dd_2"><br>
      <option value="dd2_option1">Ilakiyaselvan Sir</option><br>
      <option value="dd2_option2">None</option><br>
      </select><br>
      <br><br>
    

    </form>

    <button class="submit" type="submit" name="submit" id="submit" onclick="finish()">Finish Test</button>

    </div>
    <div class="w3-third">
       <span><img id="bg" class="float-right" alt="video stream not working"></span>
    </div>
  </div>
</div> 


<script type="text/javascript">

  function finish(){
    var answer = window.confirm("Do you wish to end the exam");
      if (answer) {
          window.location.href = "http://localhost:8000/home";
      }
      else {
          console.log("no")
      }
  }

  function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      $(document).ready(function(){
        var em = getCookie('email');
        
        var res = '/video_feed/'.concat(em);
       
        //window.alert(res)
        $('#bg').attr('src',res);
      });

</script>
</body>
</html>
